.lightcard {
    background-color: white;
    margin: 0 25px;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px #00000054;
    transition: .2s ease;
}
.darkcard {
    background-color: #333;
    color: white;
    margin: 0 25px;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px #00000054;
    transition: .2s ease;
}
.darkcard:hover,
.lightcard:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px #00000084;
}

.lightcard h3 {
    font-size: 20px;
    width: 100%;
	text-align: center;
	margin: 0;
	margin-bottom: 10px;
	font-weight: 600;
	color: #292929;
}
.darkcard h3 {
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 600;
    color: #ebebeb;
}

.lightcard p {
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px;
}
.darkcard p {
    color: white;
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    gap: 15px;
}

.lightbtn {
    width: 100px;
	padding: 5px;
	cursor: pointer;
	border: 1px solid #696969;
	border-radius: 2px;
    transition: .2s ease;
}
.darkbtn {
    width: 100px;
	padding: 5px;
	cursor: pointer;
	border: 1px solid #696969;
	border-radius: 2px;
    transition: .2s ease;
    color: white;
    background-color: #333;
}
.lightbtn:hover {
    background-color: #696969;
    color: white;
}
.darkbtn:hover {
    background-color: #c0c0c0;
    color: rgb(0, 0, 0);
}

.deleting {
    margin: 0;
    padding: 0;
    height: 0;
    opacity: 0;
    transition: opacity 0.5 ease-in-out;
    transition: 0.5 ease-in-out;
}

.editing {
    transform: scale(1.03);
    box-shadow: 0 0 10px #00000084;
}
