.container {
    width: 55%;
	height: 80vh;
	margin: 15px;
	margin-left: 0;
	background-color: #ececec;
	border-radius: 10px;
	box-shadow: 0 0 7px #00000054;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: justify;
}

.container h2 {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
	font-weight: 600;
	font-size: 25px;
	color: #292929;
}

.container ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
